.title {
  color: #560bad;
  padding: auto;
  background-color: rgba(240, 113, 103,.5);
}
a:link, a:visited{
    background-color: #ff006e;
    color: white;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
a:hover, a:active{
background-color: #f72585;
}